<html>
<head>
<style>
body{
width: 80%;
padding: 0;
margin: 0 auto;
margin-left:auto;
margin-right:auto;
font-family: "Georgia", "Times", serif;
}

.control {
	width: 29%;
	height: 100%;
	margin: 0;
	float: right;
}

.calc {
	width: 70%;
	height: 100%;
	float: left;
	margin: 0;
	border: 1px solid #EEEEEE;
}

#calcform {
	padding: 1em;
	margin: 1em;
	border: 1px dashed grey;
}
h4 {
	display: inline;
}

input {
	border: 1px solid grey;
}
label {
	vertical-align: bottom;
}

</style>
  <link href="static/jquery-ui-1.8.24.custom.css" rel="stylesheet" type="text/css"/>
  <script src="static/jquery-1.8.2.min.js"></script>
  <script src="static/jquery-ui-1.8.24.custom.min.js"></script>

